<%= simple_form_for(@user) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :first_name, label: "First Name" %>
    <%= f.input :last_name, label: "Last Name"  %>
    <%= f.input :birth_year,label: "Birth Year"  %>
    <%= f.input :gender, label: "Gender" %>
    <%= f.input :marital_status, label: "Marital Status" %>
    <%= f.input :children, label: "Children"  %>
    <%= f.input :party_affliation, label: "Party Affliation" %>
    <%= f.input :email, label: "Email" %>
    <%= f.input :telephone, label: "Telephone (use numbers only)" %>
  </div><br>

  <div class="form-actions">
    <%= f.button :submit,  "Become a member" %>
  </div>
<% end %>
