  <!-- Navigation -->
  <%= render 'navbar' %>
  
  <!-- Intro Header -->
  <header class="intro">
    <div class="intro-body">
      <div class="container">
        <div class="row">
          <h1 class="brand-heading">Click below to Be a part of a positive change</h1>
          <a href="#nymvic" class="btn btn-circle page-scroll">
            <i class="fa fa-angle-double-down animated"></i>
          </a>
        </div>
      </div>
    </div>
  </header>

  <!-- NYMVIC Section -->
  <section id="nymvic" class="container content-section text-center">
    <div class="row">
      <div class="col-sm-12">
        <h2>New York Muslim Voter and Information Club</h2>
        <p>New York Muslim Voter and Information Club (NYMVIC) helps qualified US citizens register to vote and provides education for Muslims in NY on the political process and how to make their vote count. <%= link_to "Click Here", "/pages/about", style: 'font-size: 22px; font-weight: bold;' %> to learn more.</p>
        <p>There are hundreds of thousands of US Muslim citizens in NYC alone, and approximately one million Muslims in NY representing a variety of heritages and languages whose voice has gone mostly unheard in NY politics.</p>
        <h3> We are here to bridge that gap. </h3>
      </div>
    </div><br><br>
    <div class='row'>
      <div class='col-sm-4 well well-buttons'>
        <h4>Become a member.</h4>
        <%= link_to "#modal-1", :class => "btn btn-default btn-lg ", "data-toggle" => "modal", "data-backdrop" => "static", "data-keyboard" => "false" do%> 
        <span>Join us its free!</span><br><br><%= image_tag 'join_icon.png', size: '200x150', class: "image-responsive" %><% end %>
      </div>  
      <div class='col-sm-4 well well-buttons'>
        <h4>Tell your friends.</h4>
        <%= link_to "#modal-2", :class => "btn btn-default btn-lg", "data-toggle" => "modal", "data-backdrop" => "static", "data-keyboard" => "false" do %>
        <span>Spread the word!</span><br><br><%= image_tag ('chat_icon.png'), size: '200x150', class: "image-responsive" %><% end %>
      </div>
      <div class='col-sm-4 well well-buttons'>
        <h4>Support us.</h4>
        <%= link_to "#modal-3", :class => "btn btn-default btn-lg", "data-toggle" => "modal", "data-backdrop" => "static", "data-keyboard" => "false" do%>
        <span>Donate Us!</span><br><br><%= image_tag ('donate_icon.png'), size: '200x150', class: "image-responsive" %><% end %>
      </div>
    </div>
  </section>

  <!-- Voter Section -->
  <section id= "v-registration" class="content-section text-center">
    <div class="voter-section">
      <div class="container">
        <div class='row'>
          <div class="col-sm-8 col-sm-offset-2">
            <h3>Voting is free, it's power, and your duty as a citizen.</h3><br>
            <a href="https://register.rockthevote.com/?partner=33321&source=embed-rtv300x100v2" class="floatbox" data-fb-options="width:618 height:max scrolling:yes">
              <img src="http://vr.rockthevote.com/images/widget/rtv-300x100-v2.gif" />
              <br><br><br><!-- for this block to appear only hence using br -->
              <button class= 'btn btn-default btn-lg btn-register'>click to register </button>
            </a>
            <%= javascript_include_tag "https://s3.amazonaws.com/ovr/widget_loader.js" %>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Latest News -->
  <section id= "latest-news" class="content-section text-center">
    <h3>Our Latest News</h3><br>
    <div class='container'>
      <div class="row">
        <div class="col-sm-12">
          <div id="carousel-example-generic" class="carousel slide">
            <!-- Indicators -->
            <ol class="carousel-indicators hidden-sm">
              <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
              <li data-target="#carousel-example-generic" data-slide-to="1"></li>
              <li data-target="#carousel-example-generic" data-slide-to="2"></li>
              <li data-target="#carousel-example-generic" data-slide-to="3"></li>
              <li data-target="#carousel-example-generic" data-slide-to="4"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner slider-size">
              <div class="item active">
                <%= image_tag "slide1.png", width: "100%", :lass=> "img-responsive" %>
              </div>
              <div class="item">
                <%= image_tag "slide2.png", width: "100%", :class=> "img-responsive img-full" %>
              </div>
              <div class="item">
                <%= image_tag "slide3.png", width: "100%", :class=> "img-responsive" %>
              </div>
              <div class="item">
                <%= image_tag "slide4.png", width: "100%", :class=> "img-responsive" %>
              </div>
              <div class="item">
                <%= image_tag "slide5.png", width: "100%", :class=> "img-responsive" %>
              </div>
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
              <span class="icon-prev"></span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
              <span class="icon-next"></span>
            </a>
          </div>    
        </div>
      </div>
    </div>
  </section>

  <!-- Volunteer -->
  <section id ='volunteer' class= 'container content-section text-center'>
    <h3>NYMVIC NEEDS VOLUNTEERS!</h3>
    <%= image_tag "volunteer.png", size: '500x500', :class=> "img-responsive center-block" %><br><br><br>
    <p>Take a More Active Role In Your Community And Get Involved With NYMVIC To Empower Your Community.Want To Volunteer? Please <%= link_to "Click Here", "/pages/contactus", style: 'font-size: 22px; font-weight: bold;' %> and drop us a line.</p> 
  </section><br><br><br><br>

  <!-- Footer -->
  <%= render 'footer' %>
  
  <!--Modal-1 -->
  <div class="modal fade" id="modal-1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class='modal-dialog'>
      <div class="modal-content">
        <!--Modal Header-->
        <div class='modal-header'>
          <button type='button' class='close' data-dismiss='modal' aria-hidden= 'true'>x</button>
          <h2 class='modal-title text-center' id='myModalLabel'> You made the right choice!</h2>
        </div> <br> 
        <!--Modal Body-->
        <div class="modal-body text-center">
          <%= render 'form', modal:true  %>
        </div>
      </div>  
    </div>
  </div>
  <!--Modal-2 -->
  <div class="modal fade" id="modal-2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class='modal-dialog'>
      <div class="modal-content">
        <!--Modal Header-->
        <div class='modal-header'>
          <button type='button' class='close' data-dismiss='modal' aria-hidden= 'true'>x</button>
          <h2 class='modal-title text-center'> The more the better</h2>
        </div> <br> 
        <!--Modal Body-->
        <div class="modal-body text-center">
          <p>Share with your friends.</p>
          <ul class="list-inline banner-social-buttons">
            <li>
              <a href="https://twitter.com/intent/tweet?text=http://nymvic.org/" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
            </li>
            <li>
              <a href="https://www.facebook.com/dialog/share?app_id=145634995501895&display=popup&href=http://nymvic.org/&redirect_uri=https%3A%2F%2Fdevelopers.facebook.com%2Ftools%2Fexplorer" class="btn btn-default btn-lg"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Facebook</span></a>
            </li>
            <li>
              <a href="https://plus.google.com/share?url=[http://nymvic.org/]" class="btn btn-default btn-lg"><i class="fa fa-google-plus fa-fw"></i> <span class="network-name">Google+</span></a>
            </li>
          </ul>
        </div>
      </div>  
    </div>
  </div>
  <!--Modal-3 -->
  <div class="modal fade" id="modal-3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class='modal-dialog'>
      <div class="modal-content">
        <!--Modal Header-->
        <div class='modal-header'>
          <button type='button' class='close' data-dismiss='modal' aria-hidden= 'true'>x</button>
          <h2 class='modal-title text-center'> Why Donate, If It's Free?</h2>
        </div> <br> 
        <!--Modal Body-->
        <div class="modal-body text-center">
          <p>We’re just starting. With your kind support, we’ll be able to afford full time staff to serve our community.</p>  
          <ul class="list-inline banner-social-buttons">
            <li>
              <a href="#" class="btn btn-default btn-lg"><i class="fa fa-paypal"></i> <span class="network-name">PayPal</span></a>
            </li>
            <li>
              <a href="#" class="btn btn-default btn-lg"><i class="fa fa-cc-mastercard"></i> <span class="network-name">MasterCard</span></a>
            </li>
            <li>
              <a href="#" class="btn btn-default btn-lg"><i class="fa fa-cc-visa"></i> <span class="network-name">VISA</span></a>
            </li>
          </ul>
        </div>
      </div>  
    </div>
  </div>
