<!-- Navbar -->
<%= render 'navbar'%>

<!-- Contact Section -->
<section id ="contact" class="content-section text-center"> 
<div class='container'>	
  <%= simple_form_for @contact do |form| %>
    <h2>Contact NYMVIC</h2>
    <p>Feel free to contact us to provide some feedback, give us suggestions, or to just say hello! Leave your name, contact email and your message. </p>
    <div class='row'>
      <div class= 'col-sm-8 col-sm-offset-2'>
        <%= form.error_notification %>
        <%= form.input :name, input_html: {id: 'clear_name'} %>
        <%= form.input :email, input_html: {id: 'clear_email'}  %>
        <%= form.input :content, as: :text, input_html: {rows: '10'} %>
        <%= form.button :submit, 'Submit', class: 'submit grow' %>
      </div>
    </div><br><br>
    <p>You can also email us directly at <span><a href="mailto:contact_us@nymvic.org">contact_us@nymvic.org</a></span></p>
  <% end %>
</div>
</section>




