<!-- Navbar -->
<%= render 'navbar'%>

<!-- Contact Section -->
<section id ="contact" class="content-section text-center"> 
<div class='container'> 	
  <%= form_for(@contact, html: {role: :form}) do |f| %>
    <h2>Contact NYMVIC</h2>
    <p>Feel free to contact us to provide some feedback, give us suggestions, or to just say hello! Leave your name, contact email and your message. </p>
    <div class='row'>
      <div class= 'col-sm-8 col-sm-offset-2'>
        <div class="form-group">
          <%= f.label :name, class: 'control-label' %>
          <%= f.text_field :name, class: 'form-control' %>
          <span class="alert-danger help-inline"><%= @contact.errors[:name].join(' & ') %></span>
        </div>          
        <div class="form-group">
          <%= f.label 'Contact Email', class: 'control-label' %>
          <%= f.text_field :email, class: 'form-control' %>
          <span class="alert-danger help-inline"><%= @contact.errors[:email].join(' & ') %></span>
        </div>
        <div class="form-group">
          <%= f.label 'Message', class: 'control-label' %>
          <%= f.text_area :content, size: '10x10', class: 'form-control' %>
          <span class="alert-danger help-inline"><%= @contact.errors[:content].join(' & ') %></span>
        </div>
        <div class='row'>
          <div class="actions">
            <%= f.submit 'Submit', class: 'btn btn-default grow' %>
          </div>
        </div>
      </div>
    </div><br><br>
    <p>You can also email us directly at <span style='color:#b30000;'>reachout@nymvic.org</span></p>
  <% end %>
</div>
</section>




